/* sélecteur css dur */

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

section{
  flex: 5;
  background-color: grey;
  opacity: 0.3;
}

footer{
  background-color: red;
  opacity: 0.8;
}

/* sélecteur css #id */

#logo{
  background-color: yellow;
  opacity: 0.6;
}

#pagetitle{
  flex: 3;
  background-color: purple;
  opacity: 0.7;
}

#menuzone{
  background-color: lightblue;
  opacity: 0.7;
}

/* classes css de normalisation de la page */

.flexybox{
  display: flex;
}

.flexbase{
  flex: 1;
}

.columndir{
  flex-direction: column;
}

.justicenter{
  justify-content: center;
}

.aligncenter{
  align-items: center;
}

/* css de spécificité */

.container{
  width: 100vw;
  height: 100vh;
}

/* Section des temporaires; à ranger après utilisation */

#menusource{
  width: 70%;
  margin: 0 auto;
  padding: 0 17%;
}

#menusource>li{
  background-color: red;
  position: relative;
  padding: 6% 0;
  border-style: outset;
  border-width: 1px;
  border-color: grey;
  border-radius: 20%/80%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 17px 12px 25px -10px;
}

#openedmenu{
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  box-shadow: 17px 20px 25px -10px;
  background-color: yellow;
}


#lastlielem{
  border-radius: 20%/80%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#openedmenu li{
  padding: 4%;
  border-style: outset;
  border-width: 1px;
  border-color: grey;
}

a{
  color: black;
}

#menusource:hover #openedmenu{
  display: block;
}

#menusource:hover #menusource>li{
  box-shadow: 0 0 0 0;
}